
  
  #navbar {
    position: fixed;
    padding: 2%;
    height: 100%;
    width: 20%;
    font-weight: 700;
    top: 0;
    left: 0;
    background-color: lightgreen;
  }
  
  #main-doc {
    background-image: url("https://ae01.alicdn.com/kf/Se3d4ee865fba4d1b9174d3351807226bo.jpg");
    padding: 2%;
    margin-left: 24%;
    text-align: justify;
    font-size: 14px;
    color: blanchedalmond;

  }
  
  header {
    font-size: 24px;
  }

  .nav-link {
    width:100%;
    font-size: 16px;
  }


  